<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>后台管理</title>
    {% block header %}{% endblock %}
    <script src="http://127.0.0.1:8080/public/dist/js/index.js"></script>
        <!--<script src="/public/dist/js/common.js"></script>-->
        <!--<script src="/public/dist/js/admin/index.js"></script>-->
</head>
<body>
{% block body %}{% endblock %}
</body>
{% block js%}{% endblock %}
